body {
    font-family: Arial, sans-serif;
    padding: 20px;
    text-align: center;
    background-image: url(https://media.npr.org/assets/img/2023/04/03/4fd78e6c-0524-4a21-b38d-953331849c96_wide-53c62810502a44db48df82142cb3ecfbf01759e0.jpg?s=800&c=85&f=webp);
    background-repeat: none;
    background-size: cover;
}
#weather {
    margin-top: 20px;
    padding: 20px;
    background-image: url(https://media.npr.org/assets/img/2023/04/03/4fd78e6c-0524-4a21-b38d-953331849c96_wide-53c62810502a44db48df82142cb3ecfbf01759e0.jpg?s=800&c=85&f=webp);
   background-size: cover;
   background-repeat: no-repeat;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
}
.weather-up{
    display: flex;
    margin: 50px;
    flex-direction: column;
    background-position: top;
    background-blend-mode: darken;
    opacity: 75px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 15px rgb(0, 0, 0);
}
.footer{
    text-align: center;
    margin-bottom: 5px;
}